{% load static%}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'moje.css' %}">
</head>
<body>
    <h1>Tu bedzie lista filmów</h1>

    <h3>{{text}}</h3>
    <ul>
        {% for film in filmy %}
        <li>{{film}}</li>
        {% endfor %}

    </ul>

</body>
</html>